<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priya</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="Stylesheets/index.css">
</head>
<body>
   <div class="main w-full h-screen bg-zinc-900 p-10">
    <a href="/" class="px-4 text-3xl text-red-500 mb-5">Create User</a>
    <h1 class="px-4 text-3xl text-red-500 mb-5 mt-5">Login</h1>
    <form action="/login" method="post">
        <input type="email" placeholder="email" name="email" class="px-4 py-2 rounded text-xl bg-red-500 outline-none border-none m-2">
        <input type="password" placeholder="password" name="password" class="px-4 py-2 rounded text-xl bg-red-500 outline-none border-none m-2">
        <input type="submit" value="Login" class="px-4 py-2 rounded text-xl bg-yellow-500 outline-none border-none m-2">
    </form>
   </div>
</body>
</html>